<p id="notice"><%= notice %></p>

<h1>Juegos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rules</th>
      <th>Boardphoto</th>
      <th>Piecephoto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @juegos.each do |juego| %>
      <tr>
        <td><%= juego.name %></td>
        <td><%= link_to "Download rules", rails_blob_path(juego.rules, disposition: "attachment")%></td>
        <td><%= image_tag juego.boardphoto.variant(resize: "100x100", colorspace:"gray") %><br><%= link_to "Download", rails_blob_path(juego.boardphoto, disposition: "attachment")%>
        </td>
        <% juego.piecephotos.each do |img| %>
          <td><%= image_tag img.variant(resize: "100x100", type: :grayscale) %><br>
        <%= link_to "Download", rails_blob_path(img, disposition: "attachment")%></td>
        <% end %>
        <td><%= link_to 'Show', juego %></td>
        <td><%= link_to 'Edit', edit_juego_path(juego) %></td>
        <td><%= link_to 'Destroy', juego, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Juego', new_juego_path %>
